h1,.logo{
    text-align: center;
    min-width: 25%;

}
.login{
    text-align: center;
    font-size: 200%;
    
}
a:link{
    text-decoration: none;
}
.signup{
    text-align: center;
    font-size: 200%;
    
}

ul {
    list-style-type: none;
    min-width: 200px;
} 

.btn1{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: skyblue;
    background-position: 5rem;
    margin-left: 1000px;
}

.btn2{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: skyblue;
    margin-left: 150px;

}