h1,.logo{
    text-align: center;

}
.login{
    text-align: center;
    font-size: 200%;
    
}
a:link{
    text-decoration: none;
}
.signup{
    text-align: center;
    font-size: 200%;
    
}

ul {
    list-style-type: none;
    min-width: 250px;
} 

.btn{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: skyblue;
 
}