.collectionpage {
    /* padding: 10%; */
    
    display: inline-flex;
    flex-wrap: wrap;
}

/* .pokecard {
    padding: 50px;
    margin: 50px 10px 10px 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    height: 300px;
    width: 200px;
    background-color: bisque;
} */ 

* {
    margin: 0px;
    padding: 0px;
}

.roll-button {
    padding: 8px;
    font-size: large;
    background-color: #658EEB;
    color: yellow;
    border-color: #5578C9;
    margin: auto;
}

.roll-button:hover {
    background-color: #5578C9;
    color: white;
    border-color: #5578C9;
    box-shadow: 1px 1px 3px yellow;
}

.card-collection {
    display: inline-block;
    flex-wrap: wrap;
}

.card-container {
    background-color: yellowgreen;
    width: 160px;
    height: 270px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.background {
    text-align: center;
}

.sprite {
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: radial-gradient( white 10%, transparent 35%);
}

.pokemon-name {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    padding: 10px;
    display: block;
}

.pokemon-height, .pokemon-weight, .pokemon-type {
    padding-left: 10px;
}

.pokemon-type {
    font-size: 14px;
    letter-spacing: 1px;
    display: block;
}

.pokemon-height, .pokemon-weight {
    font-size: 12px;
    padding-left: 15px;
    letter-spacing: 1px;
    display: block;
}

.delete-button {
    text-align: center;
    padding: 0 5px 0 5px;
    background-color: #E31010;
    color: white;
    font-size: medium;
    border: 2px solid black;
}

.delete-button:hover {
    background-color: #ff1717;
    color: #feffec;
    box-shadow: 1px 1px 5px black;
}

/* .App {
    background-color: bisque;
} */