@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;1,700&family=Press+Start+2P&display=swap');

.collectionpage {
    /* padding: 10%; */
    
    display: inline-flex;
    flex-wrap: wrap;
}

/* .pokecard {
    padding: 50px;
    margin: 50px 10px 10px 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
    height: 300px;
    width: 200px;
    background-color: bisque;
} */ 

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P';
}

.logo:hover {
    filter: hue-rotate(100deg);
}

.roll-button {
    padding: 8px;
    font-size: large;
    background-color: #658EEB;
    color: yellow;
    border-color: #5578C9;
    margin: auto;
}

.roll-button:hover {
    background-color: #5578C9;
    color: white;
    border-color: #5578C9;
    box-shadow: 1px 1px 3px yellow;
}

.card-collection {
    display: inline-block;
    flex-wrap: wrap;
}

.card-container {
    background-image: linear-gradient(#6d99ff, #0744d4);
    width: auto;
    max-width: 205px;
    height: auto;
    min-height: 310px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    border: 6px solid yellow;
}

.background {
    text-align: center;
}

.sprite {
    margin: auto;
    height: 200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;
    background-image: radial-gradient( white 10%, transparent 35%);
}

.content-container {
    padding-bottom: fill;
}

.pokemon-name {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    padding: 10px;
    display: block;
}

.pokemon-height, .pokemon-weight, .pokemon-type {
    padding: 0 0 5px 5px;
}

.pokemon-type {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 10px;
    /* background-color: #5578C9;
    border-radius: 5px;
    padding: 5px; */
}

.pokemon-height, .pokemon-weight {
    font-size: 11px;
    padding-left: 15px;
    letter-spacing: 1px;
    display: block;
}

.delete-button {
    text-align: center;
    padding: 0 5px 0 5px;
    background-color: #E31010;
    color: white;
    position: relative;
    left: 77.5px;
    bottom: 240px; 
    height: 50px;
    width: 50px;
    border: 2px solid black;
    opacity: 0;
}

.delete-button:hover {
    background-color: #ff1717;
    color: #feffec;
    box-shadow: 1px 1px 5px black;
    opacity: 1;
    transition: ease-in 1s;
}
