 body{
    background-image: url(../images/background3.png);
    background-size: cover;
    width: 100% ;
    height: 100vh ;
    background-position: static;
} 

.home {
    background-color: beige;
    padding: 10px;
    /* margin-right: none;
    position: absolute;
    left: -30px; */
}

/* Find background image to 
represent collection page 
i.e. bank, pokecenter, daycare */