 body{
background-image: url(../images/background3.png);
background-size: cover;
width: 100% ;
height: 100vh ;
overflow: static ;
} 

h3{
    color:rgb(218, 218, 49);
    margin: 5%;
    margin-left: calc(33vw/10);
   text-align: center;
}

.email{  
    background-color:rgb(70, 101, 206);
    width: 300px;
    height: 50px;
    
}

.password{
    background-color:rgb(70, 101, 206);
    padding: 1.1vh;
}

.logbtn{
    padding: 1.2vh;
    background-color:wheat;
}

.main{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
}

.main1{
    display: flex;
    justify-content: center;
    height: 325px;
    width: 20%;
    box-shadow: 11px 12px 13px 12px rgb(218, 218, 49);
    background-color: rgb(70, 101, 206);
    border-radius: 15%;
}

.email_icon{
    height: 50px;
    width: 50px;
    position: relative;
    
}

.pass{
    height: 50px;
    width: 50px;
    position: relative;
}

.emailbox,.passbox{
        margin: 1vh;
        position: relative;
}

